@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: #fff;
  color: #000;
  transition: all 1s;
}

a {
  text-decoration: none;
  color: inherit;
}

@layer base {
  .section {
    @apply w-full h-screen pt-[60px] xl:pt-[120px];
  }
  .container {
    @apply max-w-[1200px] mx-auto;
  }
}
